body {
    background-color: #060F15;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    width: 100px;
    margin-top: -50px;
    margin-left: -150px; 
}

.logo img {
    width: 100%;
}

.welcome {
    font-family: 'Electrolize';
    font-size: 100px;
    line-height: 0.2;
    color: #FFFFFF;
    margin-top: 70px;
    text-align: left;
}
.tagline{
    margin-top: -30px ;
    margin-left: -60px;
    font-family: 'Electrolize';
    font-size: 40px;
    color: #FFFFFF;
}

.vertical {
    margin-top: 90px;
    position: absolute;
    left: 50%;
    border-left: 1.5px solid #FFFFFF; 
    height: 550px;
    transform: translateX(-50%);
}

.user {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-start;
    margin-right: 250px;
    margin-top: 90px;
}

label {
    font-family: 'Arsenal';
    color: #FFFFFF;
    font-size: 23px;
    margin-left: 18%;
    line-height: 0.2;
    text-align: left;
}

.textbox {
    width: 370px;
    padding: 20px;
    left: 9%;
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    box-sizing: border-box;
    background-color: #D9D9D9;
}
.Sign-in a{
    text-decoration: none;
}

.Sign-in .button {
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: 'Arsenal';
    font-size: 23px;
    color: #FFFFFF;
    background-color: #254EBA;
    margin-left: -30%;
}
.Sign-in p{
    font-family: 'Arsenal';
    color: #FFFFFF;
    font-size: 25px;
    line-height: 0.2;
    margin-left: -20;
    cursor: pointer;
}