body{
    margin: 0;
}
.navbar_container {
    background-color: #1D3B8B;
    padding: 50px;
    width: 93.5%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
  left: 0;
  right: 0;
  top: 0;
  }
  
  .title {
    font-family: 'Electrolize';
    font-size: 45px;
    color: #FFFFFF;
    margin-left: 5%;
    flex-grow: 1;
    line-height: 0.2;
    text-align: left;
  }
  
  .nav_links {
    display: flex;
    justify-content: space-between;
    gap: 45px; 
    font-family: 'Arsenal';
    font-weight: 600;
    font-size: 25px;
  }
  
  .nav_links a {
    text-decoration: none;
    color: #001525;
    transition: color 0.3s ease;
  }
  
  .nav_links a:hover {
    color: #FFFFFF;
  }